@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100");

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

/* STYLES NAVIGATIONBAR */
.navbar {
  width: 90%;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
}

.container-logo{
  margin: 2rem 0rem 1rem 0rem;
  width: 40%;
}

.logo{
  width: 100%;
}

.container-opstions {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: self-start;
  margin-top: 1rem;

}

a{
  text-decoration: none;
}

.button, .button-active {
  width: 10%;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2c00; 
  color: #333;
  border: none;
  margin: 1rem 1.5rem 0rem 0rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0.1rem 0.1rem 0.3rem #00000046;
  transition: transform 0.3s ease-in-out, border-bottom 0.2s ease-in-out;
}

.button-active{
  border-bottom: solid 0.2rem #3586ff;
}

.button-active:hover{
  transform: scale(1.07);
}

.container-opstions .button:hover {
  border-bottom: solid 0.2rem #3586ff; 
  transform: scale(1.07);
}

/* STYLES DIVISÃO */
.divisao{
  width: 100%;
  margin-top: 0.7rem;
  border: solid 0.1rem;
  border-image: linear-gradient(to right, #3586ff00, #3586ff88, #3586ff, #3586ff88, #3586ff00) 1;
}

/* STYLES POST */
.main-post{
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  margin: 0.5rem 0rem 1rem 0rem;
  margin-bottom: 3rem;
}

.image-post, .image-story{
  width: 23%;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.3rem #00000046;
  transition: transform 0.3s ease-in-out;
}

.image-story:hover, .image-post:hover {
  transform: scale(1.05);
}

/* STYLES VOLTAR AO TOPO */
.back-top{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 1s ease, scale 0.9s ease;
}

.back-top-icon{
  font-size: 1.5rem;
  color: #3586ff;
}

.back-top-text{
  text-transform: upperc  ase;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.6rem;
  padding: 0;
  color: #3586ff;
  font-weight: 700;
}

.back-top:hover {
  transform: translateY(-10px);
}

.back-top:active {
  transform: scale(0.95);
} 


/* STYLES FOOTER  PAROU AQUI */
.footer {
  width: 100%;
  margin-top: 9rem;
  position: relative;
  background: #3586ff;
  min-height: 100%;
  padding: 1.3rem 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 0.6rem;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 0.6rem;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 0.9rem 0 0.6rem 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 5s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 5s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 4s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 4s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*____________________________________________________________*/

/* Estilo para o modal (escondido por padrão) */
.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.61); 
  transition: opacity 0.5s ease-in-out;
}

/* temporario, não consigo centralizar o .modal-content no .modal*/
.pre-modal-content{ 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fff;
  padding: 0.6vw;
  border-radius: 1vw;
  width: 35%;
  box-shadow: 0.5vw 0.8vw 1vw rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
}

/*


  corrigir posicionamento do modal no centro da tela de forma relativa em px


*/

.modal-content-story {
  background-color: #fff;
  margin: 1vw auto; /*isso que deiza no centro*/
  padding: 0.6vw;
  border-radius: 1vw;
  width: 24%  ;
  box-shadow: 0.5vw 0.8vw 1vw rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
}

/* Imagem do modal */
.img-post-modal, .img-story-modal{
  width: 100%;
  border-radius: 0.8vw;
} 

/* Botão de fechar */

.container-close{
  width: 98%;
}

.close {
  width: 6%;
  color: #aaa;
  float: right;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;

}

.close:hover,
.close:focus {
  color: #000;
}

/* Animação de entrada suave */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo-whatsapp {
  width: 4%;
  position: fixed;
  bottom: 1%;
  right: 0%;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-right: 0.3%;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
  transition: transform 1s ease, scale 0.9s ease;
}

.logo-whatsapp:hover {
  transform: translateY(-10px);
}

.logo-whatsapp:active {
  transform: scale(0.95);
} 

@media (max-width: 1024px) {
  .navbar {
    width: 95%;
  }

  .container-logo{
    width: 50%;
  }

  .button, .button-active {
    width: 12%;
    padding: 0.5rem 0rem;
  }

  .main-post{
    width: 98%;
  }

  .logo-whatsapp {
    width: 5%;
  }
  
  .close {
    width: 4%;
    font-size: 1.4rem;
  }

  .modal-content {
    width: 40%;
  }

}

@media (max-width: 768px) {
  /* Estilos para tablets menores */
  .navbar {
    width: 95%;
  }

  .container-logo{
    width: 55%;
  }

  .button, .button-active {
    width: 15%;
    padding: 0.5rem 0rem;
  }

  .main-post{
    width: 98%;
  }

  .image-post, .image-story{
    width: 30%;
  }

  .back-top{
    width: 12%;
  }
  
  .logo-whatsapp {
    width: 6%;
    bottom: 3%;
    right: 1%;
  }
  
  .close {
    width: 4%;
    font-size: 1.4rem;
  }

  .modal-content {
    width: 45%;
  }

  .modal-content-story {
    width: 32%;
  }
}

@media (max-width: 600px) {
  /* Estilos para smartphones */
  .navbar {
    width: 95%;
  }

  .container-logo{
    width: 65%;
  }

  .button, .button-active {
    width: 18%;
    padding: 0.5rem 0rem;
  }

  .main-post{
    width: 98%;
  }

  .image-post, .image-story{
    width: 40%;
  }

  .back-top{
    width: 15%;
  }
  
  .logo-whatsapp {
    width: 8%;
    bottom: 3%;
    right: 1%;
  }
  
  .close {
    width: 4%;
    font-size: 1.4rem;
  }

  .modal-content {
    width: 55%;
  }

  .modal-content-story {
    width: 41%;
  }
}

@media (max-width: 400px) {
  /* Estilos para smartphones pequenos */
  .navbar {
    width: 100%;
  }

  .container-logo{
    width: 95%;
    margin: 1rem 0rem 0rem 0rem;
  }

  .container-opstions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  
  }

  .button, .button-active {
    width: 40%;
    padding: 0.5rem 0rem;
    font-size: 0.88rem;
    margin: 0rem 0.4rem;
  }

  .main-post{
    width: 100%;
  }

  .image-post, .image-story{
    width: 45%;
    border-radius: 0.6rem;
    margin: 0.4rem;
  }

  .back-top{
    width: 24%;
  }
  
  .logo-whatsapp {
    width: 12%;
    bottom: 3%;
    right: 1%;
  }
  
  .close {
    width: 4%;
    font-size: 1.5rem;
  }

  .modal-content {
    width: 80%;
    padding: 1.5%;
    border-radius: 1.8vw;
  }

  .modal-content-story {
    width: 61%;    
    padding: 1.5%;
    border-radius: 1.8vw;
  }

  .img-post-modal, .img-story-modal{
    border-radius: 1.3vw;
  } 

  .footer {
    padding: 1.3rem 0 3.5rem 0;
  }

  .social-icon__link {
    font-size: 1.7rem;
  }
  
  .menu__link {
    font-size: 1.1rem;
  }

  .footer p {
    font-size: 0.8rem;
  }

}
